.rowa{
    display: flex;
}

.logo{
    width: max(60px, 40px);
    height: max(60px, 40px);
    margin-right: 20px;

}

.title{
    margin-top: 45vh;
    filter: blur(50%);
    background-color: rgba(0, 0, 0, 0.397);
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.background-image{
    background: url(./background.avif);
    background-position: top center;
    background-size: cover;
    width: 35%;
    padding: 0;
}

.text-container{
    width: 65%;
}

.text-desc{
    font-weight: 700;
}

.label-text{
    margin-bottom: 0;
    font-weight: 500;
    font-size: 0.9rem;
}

.container-input{
    margin: 5px 2vw;
}

.container-input input{
    border-radius: solid 10px;
    width: 20vw;
    box-shadow: inset 0 -1px 0 0px rgb(255, 255, 255);
    transition: box-shadow 0.25s ease-out;
}

input:focus:valid {
    box-sizing: border-box;
    box-shadow: inset 0 -3px 0 0px green;
    transition: box-shadow 0.25s ease-out;
  }

input:focus:invalid,.error {
    box-shadow: inset 0 -3px 0 0px rgb(182, 68, 68);
    transition: box-shadow 0.25s ease-out;
} 


.text-container{
    padding: 20vh 1vw 2vw 2vw;
}

.text-container form{
    margin-top: 10vh;
}

.already{
    font-size: 0.8rem;
}
.login{
    text-decoration: none;
}